@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

#logo {
  font-weight: 700;
  font-size: 2rem;
  border: 2px solid black;
  padding: 8px 15px;

  display: block;
  text-align: center;
  width: fit-content;
  margin: 20px auto;
}

.navbar ul {
  text-align: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.navbar a:hover {
  color: gray;
}

.navbar li {
  float: left;
}

a {
  color: black;
}

img {
  width: 30%;
}

.description {
  color: darkgray;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 440px;
  margin: 5px;
}

.contactHeading {
  text-align: center;
}

textarea {
  resize: none;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.projectList {
  display: grid;
}

.image-left {
  width: 250%;
}

.text-right {
  font-size: 30px;
}

.paragraph {
  width: 600px;
}

.showcase-container {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

.showcase-images {
  height: 200px;
  width: 200px;
}

.showcase-text {
  text-align: center;
}

.page-title {
  text-align: center;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
